<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tên khách hàng</mat-label>
                        <input matInput placeholder="Tên khách hàng" [(ngModel)]="orderDetails.fullName"
                            name="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Địa chỉ</mat-label>
                        <input matInput placeholder="Địa chỉ" [(ngModel)]="orderDetails.fullAddress" name="fullAddress">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Số điện thoại</mat-label>
                        <input matInput placeholder="Số điện thoại" [(ngModel)]="orderDetails.contactNumber"
                            name="contactNumber">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Số điện thoại khác</mat-label>
                        <input matInput placeholder="Số điện thoại khác"
                            [(ngModel)]="orderDetails.alternateContactNumber" name="alternateContactNumber">
                    </mat-form-field>

                    <div align="right">
                        <button type="submit" mat-stroked-button color="primary">Đặt hàng</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr *ngFor="let product of productDetails">
                            <td>{{product.productName}}</td>
                            <td>{{product.productDiscountedPrice}}</td>
                            <td>
                                <select #quatity name="form-select" [ngModel]="getQuantityForProduct(product.productId)"
                                    (change)="onQuantityChange(quatity.value, product.productId)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>{{getCalculatedTotal(product.productId, product.productDiscountedPrice)}}$</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{getCalculatedGrandTotal()}}$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
